---
export interface SidebarVoteProps {
  title: string;
  value: number;
}

interface Props {
  values: SidebarVoteProps[];
}

const {values} = Astro.props;

function renderCircles(length: number, sign: string): string[] {
  return Array.from({length}, (_, i) => sign);
}
---

<div class="mb-4">
  {values.map((vote) => (
          <div class="py-2">
              <h5 class="font-semibold text-xl text-gray300 mb-0.5">{vote.title}</h5>
              <div class="text-blue flex">
                {renderCircles(vote.value, "⬤")}{renderCircles(5 - vote.value, "◯")}
              </div>
          </div>
  ))}
</div>
