---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Topbar from "../components/Topbar.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const tabTitle = title == null ? "dudexpress" : `${title} | dudexpress`;
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{tabTitle}</title>

    <slot name="head" />

    {
      import.meta.env.PROD && (
        <>
          <script type="text/javascript" is:inline src="https://embeds.iubenda.com/widgets/7331963d-f1c3-445e-b793-b3b1e8edee51.js"></script>
          <script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-1W60BXW0Z6"></script>
          <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("consent", "default", {
                ad_storage: "denied",
                ad_user_data: "denied",
                ad_personalization: "denied",
                analytics_storage: "denied",
            });

            gtag("config", "G-1W60BXW0Z6");
          </script>
        </>
      )
    }


  </head>
  <body class="font-sans !text-[#212529] antialiased">
    <Topbar />

    <main class="mt-10">
      <slot />
    </main>

    <footer
      class="flex justify-center bg-gray400 py-4 text-white font-semibold"
    >
      <div class="container">
        <div class="flex flex-col md:flex-row gap-3 justify-between items-center">
          <Footer />
          <span>© {new Date().getFullYear()} dudexpress</span>
        </div>
      </div>
    </footer>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>

  <style is:global>
    br {
      display: none;
    }

    br + br {
      display: block;
    }

    article img {
      border-radius: calc(2 * var(--radius-lg));
    }

    p {
      margin: 0;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: -0.3px;
    }

     .template-blog-post-main-content img[data-image-component="true"] {
         justify-self: center;
     }

    .template-blog-post-main-content a {
        text-decoration: underline;
        color: var(--blue)
    }

    .template-blog-post-main-content ul {
        list-style: disc;
        padding-left: calc(3 * var(--spacing));
    }
    .template-blog-post-main-content ol {
        list-style: gregorian;
        padding-left: calc(3 * var(--spacing));
    }

     .container > * {
         padding: 0 calc(var(--spacing) * 1.5);
     }
  </style>
</html>
